<div id='container' ng-controller='LinksController' ng-init='getLinks()'>
  <!-- Your html here -->
  <h1>Links</h1>
  <button><a ng-href="/#/shorten">Go To Shorten</a></button>
  <input ng-model="filter" type="text" placeholder="filter">
  <ul>
    <li ng-repeat='link in data.links | orderBy:"visits" | filter: filter' >
      <div class='link'>
          <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
          <div class='title'>{{link.title}}</div>
          <div class='original'>{{link.url}}</div>
          <a href='{{link.base_url+"/api/links/"+link.code}}'>{{link.base_url}}/{{link.code}}</a>
      </div>



    <!-- <div class="title">
      <span>{{link.title}} Visits: {{link.visits}}</span>
    </div>
      <p><button><a ng-href='{{link.base_url+"/api/links/"+link.code}}'>{{link.title}}:{{link.url}}</p></button></a> -->
    </li>
  </ul>

</div>
